/* element {
    animation: animationName duration timing-function iteration-count fill-mode;
  }
  @keyframes animationName {
    
    0% { }
    50% { }
    100% { }
  }

@keyframes fadeIn {
    0% { opacity: 0; } 
    100% { opacity: 1; } 
  }
  
 
  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
       */