/* .animate__animated {
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  .animate__fadeIn {
    animation-name: fadeIn;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  } */
  